.sidebar {
    top: 56px;
    bottom: 0;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;
    border-right: 1px solid #eee;
    padding-left: 0;
    padding-right: 0;
    background-color: #3F3F3F;
    position: fixed;
    z-index: 1019;
    width: 200px;
    height: calc(100vh - 55px);

    .nav-item {
        width: 100%;
    }

    .nav-link {
        border-radius: 0;
        color: #fff;
    }

    .menu-title {
        padding: 12px 20px !important;
        letter-spacing: .035em;
        pointer-events: none;
        cursor: default;
        font-size: 13px;
    }
  }
